.header__link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    align-self: center;
  }
  
  .header__link:hover {
    cursor: pointer;
    opacity: 0.6;
  }
  
  @media (max-width: 597px) {
    .header__link {
      font-size: 15px;
      line-height: 20px;
    }
  }
  